<div class="container-full">
	<div class="row">
		<div class= "col-md-12 body-top"><h3>2 formations de qualitées en accélérées et déjà plus de 300 étudiants !</h3></div>
		<div class="col-md-6 body-program-box">
			<h4>Explorer l'apprentissage en Ruby</h4>
			<!-- Mettre un onglet déroulant -->
		</div>
		<div class="col-md-6 body-program-box">
			<h4>Explorer l'apprentissage en Sales</h4>
			<!-- Mettre un onglet déroulant -->
		</div>
		<div class="col-md-12 body-table">
			<div class="table-responsive">
				<table>
					<tbody>
						<tr>
							<td class="align-middle my_td_body">
								<%= image_tag 'lesson_adapted.png', size: 80, :class => 'body-image' %>
								<h3 class="title-catch">Réapprendre à apprendre</h3>
								<div class="body-box body-colonne-1">
									<p class="p-font p-length">Chaque jour, 2 livres et un projet d'au moins 6 heures en guise de ressource pour l'apprentissage. Cette méthode de travail appliquée pendant deux mois permet d'acquérir de nouvelles compétences rapidements et ceci deviendra une habitude.</p>
								</div>
							</td>
							<td class="align-middle my_td_body">
								<%= image_tag 'best_adapted.png', size: 90, :class => 'body-image' %>
								<h3 class="title-catch">Meilleur niveau</h3>
								<div class="body-box body-colonne-2">
									<p class="p-font p-length">Les projets en équipe permettent d'accomplir des tâches difficiles. La formation en peer-learning permettra de surmonter les difficultées, tout en étant plus ludique grâce aux projets.</p>
								</div>
							</td>
							<td class="align-middle my_td_body">
								<%= image_tag 'free.png', size: 80, :class => 'body-image' %>
								<h3 class="title-catch">Formation gratuite</h3>
								<div class="body-box">
									<p class="p-font p-length">Les groupes autonomes répartis partout nous permet de proposer une formation gratuite, ouverte à tous, sans restriction géographique. Proposer une éducation professionnalisante où le seul pré-requis est la motivation est très important pour nous.</p>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
		<div class="col-md-1 body-temoin body-temoin-change-left-box"><!-- Ajouter fleche pour changer de temoi --></div>
		<div class="col-md-3 body-temoin body-temoin-picture-box"><%= image_tag 'temoignage_1.png', :class => "rounded" %></div>
		<div class="col-md-6 body-temoin body-temoin-text-box">
			<blockquote class="blockquote ">
			 	<p class="mb-0 p-font">"La formation revêt énormément d'aspects qui m'ont enthousiasmé : Le peer-learning, le programme intense, Ruby et Ruby on Rails qui sont simplement passionnants, le programme couvre un large panel de langages et techniques."</p>
			 	<footer class="blockquote-footer">Corsaire de la formation <cite title="Source Title">Julien Laville</cite></footer>
			</blockquote>
		</div>
		<div class="col-md-1 body-temoin body-temoin-change-right-box"><!-- Ajouter fleche pour changer de temoi --></div>
	</div>
</div>
