<footer class="footer">
	<div class="container-full">
		<div class="row">
			<div class= "col-md-12 footer-top"><h4 class="p-length title-font">Questions fréquentes</h4></div>
			<div class="col-md-4 footer-box">
				<%= image_tag 'question.png', size: 80, :class => 'question-image', alt: 'faq' %>
				<h4 class="p-length">Vous n'avez pas de salles de classe ?</h4>
				<p class="p-font p-length">On te donne une totale autonomie sur ton organisation. Si ton équipe a envie de se retrouver chez l'un d'entre vous sur des canapés ou veut tester les cafés coworking de votre ville, vous êtes libres de le faire.</p>
			</div>
			<div class="col-md-4 footer-box">
				<%= image_tag 'question.png', size: 80, :class => 'question-image', alt: 'faq' %>
				<h4 class="p-length">Vous êtes un moussaillon solitaire ?</h4>
				<p class="p-font p-length">Nous ferons tout notre possible pour te trouver 5 compagnons de route pour les villes avec une aire urbaine de plus de 150 000 habitants ;).</p>
			</div>
			<div class="col-md-4 footer-box">
				<%= image_tag 'question.png', size: 80, :class => 'question-image', alt: 'faq' %>
				<h4 class="p-length">Quel matériel nécessaire pour la formation ?</h4>
				<p class="p-font p-length">Un ordinateur acheté sur le bon coin à 150-200€ d'occasion suffit largement pour suivre la formation.</p>
			</div>
			<div class="col-md-4 footer-bot-box">
				<h4>Une question?</h4>
				<p class="p-font">Charles Dacquay : 06 95 46 60 80</p>
				<p class="p-font">Félix Gaudé : 06 28 01 33 40</p>
			</div>
			<div class="col-md-4 footer-bot-box footer-2">
				<h4>Sur Paris?</h4>
				<p class="p-font">Incubateur : La paillasse</p>
			</div>
			<div class="col-md-4 footer-bot-box footer-3">
				<h4><%= link_to 'Mentions légales', '' %></h4>
			</div>
		</div>
	</div>
</footer>